// Navigation code here

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    h1 {
    font-size: 4rem;
    margin-bottom: 15px;
    
    }
}
